<div class="saved-books">
    {{#each this}}
    <section class="book">
        <div class="book-info">
            {{book.title}} by {{book.author}}
        </div>
        {{!-- <div class="book-author">
            {{book.author}}
        </div> --}}
    </section>
    {{/each}}
</div> 

