<div class="saved-books">
    {{#each book}}
    <section class="book">
        <div class="book-info">
            <p> This is working </p>
            {{title}} {{author}}
        </div>
        {{!-- <div class="book-author">
            {{book.author}}
        </div> --}}
    </section>
    {{/each}}
</div> 