<div class="saved-books">
    {{#each this}}
    <section class="book">
        <div class="book-title">
            {{book.title}}
        </div>
        <div class="book-author">
            {{book.author}}
        </div>
    </section>
    {{/each}}
</div> 

