<section>
    <a href="/dashboard"> &larr; back to dashboard</a>
  <h2 class="title">create a review</h2><hr>

  <form class="new-review-form">
    <div>
      <label for="review-title">Title:</label>
      <input class="input" type="text" id="review-title" name="review-title" placeholder="review title here"/>
    </div>
    <div>
      <label for="review-content">Review:</label>
      <input class="textarea is-large" id="review-content" name="review-content" placeholder="insert review here"/>
    </div>
    <div>
      <label for="book-title">Book</label>
      <input class="input" type="text" id="book-title" name="book-title" placeholder="Book title"/>
    </div>
    <button type="submit" class="button">create review</button>
  </form>
</section>

<script src="/javascript/add-review.js"></script>