<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">create new review/h2><hr>

  <form class="new-review-form">
    <div>
      <label for="review-title" placeholder="Insert book title:">Title:</label>
      <input class="input" type="text" id="review-title" name="review-title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label for="review-content" placeholder="">Review:</label>
      <input class="textarea is-large" id="review-content" name="review-content" placeholder="insert blog content here"/>
    </div>
    <div>
      <label for="book-title">Book Title</label>
      <input class="textarea is-large" id="book-title" name="book-title" placeholder="book name"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Submit</button>
  </form>
</section>

<script src="/javascript/add-review.js"></script>