 <div>
        <a href="/dashboard/create/"><button id="create-review" class="button is-primary is-pulled-right">create review</button></a>
        
        <h2 class="title font-weight-bold">Your reviews</h2>
    </div>
{{#if reviews.length}}
<section>
{{#each reviews as |review|}}

  {{> review-info review}}
<button>
      <a href="/dashboard/edit/{{id}}" class="edit-link ml-4">Edit review</a>
 </button>
 <br>
 <br>
{{/each}}
</section>
{{else}}
<br>
<h5> You have no reviews yet.</h5>
{{/if}}
