<div class="container">

  <a href="/dashboard/create/"><button id="create-review" class="button is-primary is-pulled-right">Create Review</button></a>
  
</div>

{{#if reviews.length}}
<section class="container">
  <h2 class="title font-weight-bold">Your Reviews</h2>
{{#each reviews as |review|}}

{{> review-info review}}
<button>
      <a href="/dashboard/edit/{{id}}" class="edit-link ml-4">Edit review</a>
 </button>
 <br>
 <br>
{{/each}}
</section>
{{else}}
<br>
<h5 class="container"> You have no reviews yet.</h5>
{{/if}}

{{> saved-books book}}