<div id="searchedBooks">
    <form class="book-form">
        <div class="book-input">
            <input type="search" id="books">
            <label for="search"> Search for a book</label>
        </div>
        <button type="submit">Find Books</button>
    </form>
</div>


<ul class="review-list">
  {{#each reviews as |review|}}
  <li>
    {{> review-info review }}
  </li>
  {{/each}}
</ul>


<script src="/javascript/search-books.js"></script> 