<h1>Books based on your search </h1> 

{{#each books }}

<div class="card">

  <div class="card-header title" id="book-title">
    {{volumeInfo.title}}  
  </div>

  <div class="card-header author" id="book-author">
    By {{volumeInfo.authors.[0]}}
  </div>

  <div class="card-body">
    {{searchInfo.textSnippet}} 
  </div>

  <button class="button is-primary saveBook" id="save-book">Save Book</button>
  
</div>
{{/each}}

<script src="/javascript/save-book.js"></script>