<div id="searchedBooks">
    <form class="book-form">
        <div class="book-input">
            <input type="search" id="books">
            <label for="search"> Search for a book</label>
        </div>
        <button type="submit">Find Books</button>
    </form>
</div>

<h1>{{book_title}} </h1>
<h2> {{book_author}} </h2>
<p>{{book_desc}}</p>

<ul id="book-list">
  <li>
   
     {{#each books as |book|}}
      {{> book-info book }}
      {{/each}}
  </li>
</ul>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascript/search-books.js"></script>