<div class="search">
    <form class="book-form">
        <div class="book-input">
            <input type="search" id="books">
            <label for="search"> Search for a book</label>
        </div>
        <button type="submit">Find Books</button>
    </form>
</div>

<ul class="book-list">
  {{#each books as |book|}}
  <li>
     {{> book-info book }}
  </li>
  {{/each}}
</ul>


<script src="/javascript/search-books.js"></script>