<h1>Books based on your search </h1> 

{{#each books }}


<ul id="book-list">
  <li>
     {{#each books as |book|}}
      {{> book-info book }}
      {{/each}}
  </li>
</ul>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascript/search-books.js"></script>

<h2>
{{volumeInfo.title}}
</h2>

{{/each}}


